body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

.greeting {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 140pt;
    grid-column: 1;
    grid-row: 1;
    margin-top: 1px;
    margin-bottom: 1px;
}

.name {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20pt;
    grid-column: 2;
    grid-row: 1;
}

.justin_groza {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 55pt;
    color: #d12229;
    grid-column: 2;
    grid-row: 1;
}

.summary_intro {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17pt;
    grid-column: 3;
    grid-row: 1;
}

.student {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17pt;
    color: #d12229;
    grid-column: 3;
    grid-row: 1;
}

.welcome {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17pt;
    grid-column: 3;
    grid-row: 1;
}

.portfolio {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17pt;
    color: #d12229;
    grid-column: 3;
    grid-row: 1;
}