* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

.site_info {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    column-gap: 10px;
    row-gap: 10px;
}

.top_6 {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    column-gap: 10px;
    row-gap: 10px;
}


.justin_groza {
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    font-size: 24pt;
    color: black;
    margin-top: 15px;
    margin-left: 25px;
}

.intro_grid {
    grid-column: 1;
    grid-row: 1;

}

.summary_intro {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12pt;
}

.student {
    font-family: Helvetica, sans-serif;
    font-size: 13pt;
    font-weight: 300;
    color: #d12229;
    margin-top: 0;
    margin-bottom: 25px;
    margin-left: 25px;
}

.nav_link {
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
    grid-column: 3;
    grid-row: 1;
    margin-top: 5px;
}

li {
    display: inline;
    grid-column: 3;
    grid-row: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}


img {
    height: 300px;
    width: 300px;
    background-color: whitesmoke;
}

.about_me_section {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    column-gap: 10px;
    row-gap: 10px;
}

.about_me_head {
    grid-column: 2;
    grid-row: 3;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20pt;
    color: #d12229;
    margin-top: 0px;
    margin-bottom: 0px;
}

.very_happy_pic {
    width: 400px;
    grid-column: 2;
    grid-row: 1;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    color: #d12229;
    font-weight: bold;
}

.about_me_text {
    grid-column: 2;
    grid-row: 4;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12pt;
}

h4 {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12pt;
    grid-column: 2;
    grid-row: 2;
    margin-top: 15px;
    margin-bottom: 15px;
}

form {
    grid-column: 2;
    grid-row: 3;
    align-items: end;
}

input,
select,
textarea {
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
}

input,
textarea {
    width: 200px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

label {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14pt;
    display: block;
}

input[type=submit] {
    width: 100px;
}

.works {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    column-gap: 10px;
    row-gap: 10px;
}

.contact_section {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 2;
}

.contact_me {
    grid-column: 2;
    grid-row: 1;
}

.contact_header {
    grid-column: 2;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 35pt;
    color: #d12229;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.container {
    position: relative;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #222222;
}

.container:hover .overlay {
    opacity: 80%;
}

.caption {
    font-family: Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

@media only screen and (max-width: 600px) {

    .site_info,
    .top_6,
    .works {
        grid-template-columns: 1fr;
    }
    .overlay {
        position: absolute;
        height: 300px;
        width: 300px;
    }
}